/*
You can add your own CSS here.

Click the help icon above to learn more.
*/


.user_hover_777:hover {
	color:#777;
}

.user_focus_777:focus{
	color:#777;
}

.entry-title{
display:none;
}

#secondary .widget a {
	color:#636467;
}

.user_img_w100{
	max-width:100px
}

@media screen and (min-width: 1066px){
	.user_h1_on_more1066px { font-size:3em;}
}

@media screen and (max-width:767px){
	.user_row_height_100px{height:100px;overflow:hidden; white-space: nowrap;}
}

.user_nav_bar{
  position:absolute;
  left:0px;
  right:0px;
  top:70px;
  border:1px solid red;
}

.user_nav_main_menu_overlap_tooltip{
  margin:-30px;
  padding:30px;
  z-index:100;  
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes user-anim-tooltip-btm01 {
  0% {top: 300px; left: 300px;}
  4% {top: 150px; left: 300px;}
  8% {top: 0px; left: 270px;}
  12% {top: -210px; left: 240px;}
  16% {top: -210px; left: 0px;}
  20% {top: -210px; left: -150px;}
  24% {top: -180px; left: -210px;}
  28% {top: 0px; left: -210px;}
  32% {top: 180px; left: -150px;}
  36% {top: 180px; left: 0px;}
  40% {top: 160px; left: 160px;}
  44% {top: 0px; left: 160px;}
  48% {top: -160px; left: 160px;}
  52% {top: -160px; left: 0px;}
  56% {top: -160px; left: -120px;}
  60% {top: 0px; left: -120px;}
  64% {top: 120px; left: -120px;}
  68% {top: 120px; left: 0px;}
  72% {top: 120px; left: 90px;}
  76% {top: 0px; left: 90px;}
  80% {top: -90px; left: 90px;}
  84% {top: -90px; left: 0px;}
  88% {top: -90px; left: -90px;}
  92% {top: 0px; left: -90px;}
  96% {top: 90px; left: 0px;}
  100% {top: 0px; left: 0px;}
  }

/* Standard syntax */
@keyframes user-anim-tooltip-btm01 {
0% {top: 300px; left: 300px;}
4% {top: 150px; left: 300px;}
8% {top: 0px; left: 270px;}
12% {top: -210px; left: 240px;}
16% {top: -210px; left: 0px;}
20% {top: -210px; left: -150px;}
24% {top: -180px; left: -210px;}
28% {top: 0px; left: -210px;}
32% {top: 180px; left: -150px;}
36% {top: 180px; left: 0px;}
40% {top: 160px; left: 160px;}
44% {top: 0px; left: 160px;}
48% {top: -160px; left: 160px;}
52% {top: -160px; left: 0px;}
56% {top: -160px; left: -120px;}
60% {top: 0px; left: -120px;}
64% {top: 120px; left: -120px;}
68% {top: 120px; left: 0px;}
72% {top: 120px; left: 90px;}
76% {top: 0px; left: 90px;}
80% {top: -90px; left: 90px;}
84% {top: -90px; left: 0px;}
88% {top: -90px; left: -90px;}
92% {top: 0px; left: -90px;}
96% {top: 90px; left: 0px;}
100% {top: 0px; left: 0px;}

}

/*
.user-tooltip-anim-btm01 + .tooltip > .tooltip-inner {
  position:relative;
  -webkit-animation: user-anim-tooltip-btm01 1s; 
  animation: user-anim-tooltip-btm01 1s;
  background-color:#ffff66;
  color:#000000;
}


.user-tooltip-anim-btm01 + .tooltip.bottom > .tooltip-arrow {
  position:relative;
  animation: user-anim-tooltip-btm01 0.5s;
  -webkit-animation: user-anim-tooltip-btm01 0.5s; 
    background-color:#ffff66;
  color:#000000;
}
*/

.tooltip > .tooltip-inner {
  position:relative;
  -webkit-animation: user-anim-tooltip-btm01 0.4s; 
  animation: user-anim-tooltip-btm01 0.4s;
  background-color:#ffff66;
  color:#000000;
  text-align: left;
}



.user-right-Margin-1em{
  margin-right:1em;
}

.user-width50pc{
  width:50%;
}
.user-arcade-game-carousel{
  
}

.user-test-red-border{
  border: 1px solid red;
}

.navbar > .container .navbar-brand{
  font-size:inherit;
  margin-bottom:0px;
}

/* span[class*="user-span-flies"]{ display:inline-block; white-space:pre;} */
span[class*="user-span-flies"]{ position: relative; display:inline-block; white-space:pre;}

@-webkit-keyframes user-span-flies-left-anim{
  0% {left: 90vw; opacity:0;}
  2% {left: 90vw; opacity: 1;}
  50% {left: 50vw; }
  100% {left: 0px; }   
}

@keyframes user-span-flies-left-anim{
  0% {left: 90vw; opacity:0;}
  2% {left: 90vw; opacity: 1;}
  50% {left: 50vw; }
  100% {left: 0px; }      
}

.user-test{
  width: 150px;
  position:relative;
  -webkit-animation: user-span-flies-left-anim 4s;
  animation: user-span-flies-left-anim 4s; 
}

.user-test:active, .user-test:focus{
  width: 150px;
  position:relative;
  -webkit-animation: user-span-flies-left-anim 4s;
  animation: user-span-flies-left-anim 4s; 
}

.user-span-flies-left0 {
  -webkit-animation: user-span-flies-left-anim 1.1s;
  animation: user-span-flies-left-anim 1.1s; 
}
.user-span-flies-left1 {
  -webkit-animation: user-span-flies-left-anim 1.7s;
  animation: user-span-flies-left-anim 1.7s; 
}
.user-span-flies-left2 {
  -webkit-animation: user-span-flies-left-anim 0.8s;
  animation: user-span-flies-left-anim 0.8s; 
}
.user-span-flies-left3 {
  -webkit-animation: user-span-flies-left-anim 1.5s;
  animation: user-span-flies-left-anim 1.5s; 
}
.user-span-flies-left4 {
  -webkit-animation: user-span-flies-left-anim 1.3s;
  animation: user-span-flies-left-anim 1.3s; 
}
.user-span-flies-left5 {
  -webkit-animation: user-span-flies-left-anim 0.9s;
  animation: user-span-flies-left-anim 0.9s; 
}
.user-span-flies-left6 {
  -webkit-animation: user-span-flies-left-anim 0.5s;
  animation: user-span-flies-left-anim 0.5s; 
}
.user-span-flies-left7 {
  -webkit-animation: user-span-flies-left-anim 1.0s;
  animation: user-span-flies-left-anim 1.0s; 
}
.user-span-flies-left8 {
  -webkit-animation: user-span-flies-left-anim 0.7s;
  animation: user-span-flies-left-anim 0.7s; 
}
.user-span-flies-left9 {
  -webkit-animation: user-span-flies-left-anim 1.2s;
  animation: user-span-flies-left-anim 1.2s; 
}
/* Tried to make the animation with transitions.
   But transitions do not fire on iPad/iPhone.
   Switched back to the animation.*/
/* -webkit-transition: -webkit-transform 2s linear 0.1s, opacity 0.2s;
  transition: transform 2s, opacity 0.2s; */
  /* -webkit-transform: translateX(200px);
  transform:translateX(200px);
  opacity: 0.2; */
/*
.user-span-flies-left0{   -webkit-transition: -webkit-transform 0.5s ease-in; transition: transform .5s;}
.user-span-flies-left1{  
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.9s ease-in;
    transition: -webkit-transform .9s; transition: transform .9s;
}
.user-span-flies-left2{   -webkit-transition: -webkit-transform 1.3s ease-in; transition: transform 1.3s; }
.user-span-flies-left3{   -webkit-transition: -webkit-transform 0.8s; transition: transform .8s;} 
.user-span-flies-left4{   -webkit-transition: all 1.0s linear ease-in; transition: transform 1.0s;}
.user-span-flies-left5{   -webkit-transition: -webkit-all 1.8s; transition: transform 1.8s;}
.user-span-flies-left6{  -webkit-transition: transform 1.1s;  transition: transform 1.1s;}
.user-span-flies-left7{   -webkit-transition: transform 1.4s; transition: transform 1.4s;}
.user-span-flies-left8{   -webkit-transition: transform 0.6s; transition: transform 0.6s;}
.user-span-flies-left9{   -webkit-transition: transform 1.5s; transition: transform 1.5s;}
*/
/*
.user-span-flies-left-start{
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -o-transform: translateX(100px);
  -ms-transform: translateX(100px);  
  transform: translateX(100px);
 
}
*/

/*
CLASSES USED INSTEAD OF IDs FOR HTML MARKUP

CLASSES USED INSTEAD OF IDs FOR HTML MARKUP

CLASSES USED INSTEAD OF IDs FOR HTML MARKUP

*/



.start-page-id-CVphoto, .start-page-id-name-small,
.start-page-id-name-big, .start-page-id-intro,
.start-page-portfolio-short, .start-page-portfolio-short-collapse,
.collapsed01, .start-page-commitsBioShort .start-page-commitsBioShort-collapse,
.start-page-commitsBio-plus, .start-page-commitsBio-minus, 
.start-page-portfolio-short-plus, .short-page-portfolio-short-minus,
.start-page-id-contacts, .start-page-id-header, .user-welcome-tooltip, 
.user-hide-show, .user-modal-intro, .user-modal-intro-label,
.user-modal-intro-button1 
 {
  
}


